<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %} - CPM</title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <h1>CPM</h1>
      <a>About</a>
      <a>Github</a>
    </nav>
    <section>
      <span>Upload your image file to generate a color palette!</span>
      <div>
        <form method="post">
          <input type="file" id="myFile" name="filename">
          <input type="submit">
        </form>
      </div>
    </section>
    {% block content %}{% endblock %}
  </body>
</html>
